.custom-card {
  border: none;
  .img-container {
    overflow: hidden;
  }
  img {
    object-fit: cover;
    transition: all 0.25s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card-info {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    .card-text {
      p {
        color: var(--dark-gray-color);
      }
    }
    i {
      font-size: 1.5rem;
      color: var(--dark-gray-color);
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        transform: translateX(10px);
      }
    }
  }
}
