.navbar {
  .logo {
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      color: var(--black-color);
      img {
        height: 1.5rem;
      }
      h1 {
        font-size: 1.75rem;
        margin: 0;
      }
    }
  }
  ul {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-size: 1rem;
      color: var(--black-color);
      cursor: pointer;
      &.active {
        color: var(--primary-color);
      }
      &:hover {
        color: var(--primary-color);
      }
      .nav-btn {
        padding: 0.5rem 0.75rem;
        background-color: var(--black-color);
        color: var(--white-color);
        border: none;
        border-radius: 0.25rem;
      }
    }
  }
}

@include respond-to(lg) {
  nav {
    .navbar-collapse {
      ul {
        gap: 2rem;
      }
    }
  }
}
