@charset "UTF-8";
:root {
  --primary-color: #e6c744;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #c2c8da;
  --dark-gray-color: #7f7f7f;
  --light-gray-color: #f4f6f5;
  --primary-font: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");
  font-weight: 900;
  font-style: normal;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white-color);
  font-family: var(--primary-font), sans-serif;
}

h1,
h2 {
  font-weight: 900;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.slanted-bg {
  position: relative;
}
.slanted-bg h1,
.slanted-bg h2,
.slanted-bg h3,
.slanted-bg h4,
.slanted-bg h5,
.slanted-bg h6,
.slanted-bg p {
  position: relative;
  z-index: 1;
}
.slanted-bg .bg {
  min-width: 8rem;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10%) rotate(-1.5deg);
}
.slanted-bg .white-bg {
  background-color: var(--white-color);
}
.slanted-bg .yellow-bg {
  background-color: var(--primary-color);
}

.leaves-bg {
  position: relative;
}
.leaves-bg h1,
.leaves-bg h2,
.leaves-bg h3,
.leaves-bg h4,
.leaves-bg h5,
.leaves-bg h6,
.leaves-bg p {
  position: relative;
  z-index: 1;
}
.leaves-bg .bg {
  width: 10rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(2, 0.5) rotate(-10deg);
}

nav .logo {
  cursor: pointer;
}
nav .logo img {
  height: 1.5rem;
}
nav .logo h1 {
  font-size: 1.75rem;
  margin: 0;
}
nav ul {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  font-size: 1rem;
  cursor: pointer;
}
nav ul li:hover {
  color: var(--primary-color);
}
nav ul li .nav-btn {
  padding: 0.5rem 0.75rem;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.25rem;
}

@media screen and (min-width: 992px) {
  nav .navbar-collapse ul {
    gap: 2rem;
  }
}
.hero h1 {
  font-size: 2.5rem;
}
.hero .container {
  background-color: var(--light-gray-color);
  border-radius: 2rem;
  padding: 1.75rem 3rem 0 3rem;
}
.hero .container .row {
  justify-content: center;
}
.hero .container .row .hero-text {
  display: flex;
  align-items: center;
}
.hero .container .row .hero-img {
  position: relative;
}
.hero .container .row .hero-img i {
  position: absolute;
  color: var(--gray-color);
  font-size: 1.5rem;
}
.hero .container .row .hero-img .star-2 {
  top: 10px;
  right: 60px;
}
.hero .container .row .hero-img .star-3 {
  bottom: 15px;
  left: 15px;
}
.hero .container .row .hero-img .star-4 {
  bottom: 40px;
  right: 10px;
}
.hero .container .row .hero-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero .container .row .hero-text {
    justify-content: center;
  }
  .hero .container .row .hero-img i {
    font-size: 2rem;
  }
  .hero p,
  .hero button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero button {
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
  }
}
.brands {
  margin: 2rem 0;
  background-color: var(--primary-color);
}
.brands .container .img-container {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 1rem;
}
.brands .container .img-container img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  .brands .container .img-container {
    overflow-x: auto;
  }
}
.new-arrivals {
  margin: 2rem 0;
}

.custom-card {
  border: none;
}
.custom-card .img-container {
  overflow: hidden;
}
.custom-card img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.25s ease;
}
.custom-card img:hover {
  transform: scale(1.1);
}
.custom-card .card-info {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.custom-card .card-info .card-text p {
  color: var(--dark-gray-color);
}
.custom-card .card-info i {
  font-size: 1.5rem;
  color: var(--dark-gray-color);
  cursor: pointer;
  transition: all 0.5s ease;
}
.custom-card .card-info i:hover {
  transform: translateX(10px);
}

.young-fav .young-fav-card-container {
  margin: 2rem 0;
}

.payday {
  margin: 2rem 0;
  background: linear-gradient(-90deg, #e0c340, #e7c845, #e9ca48, #f4d84f, #f9dd55, #f9df56);
}
.payday .container {
  background: none;
}
.payday .container .row .hero-img i {
  opacity: 0.5;
  color: var(--light-gray-color) !important;
  transform: rotate(-20deg);
}
.payday .container .row .hero-img .star-1 {
  top: 50px;
}
.payday .container .row .hero-img .star-3 {
  bottom: 100px;
  left: 40px;
}
.payday .container .row .hero-img .star-4 {
  bottom: 50px;
  right: 40px;
}
.payday .container .row .hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.payday .container .row .hero-text .hint {
  gap: 0.5rem;
}
.payday .container .row .hero-text .hint p {
  margin: 0;
}
.payday .container .row .hero-text .shop-btn button {
  margin: 1rem 0;
}
.payday .slanted-bg .bg {
  width: 13rem;
}

@media screen and (min-width: 992px) {
  .hero .slanted-bg .bg {
    width: 50%;
  }
}
.send-email-section {
  background-color: var(--primary-color);
}
.send-email-section .container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.send-email-section .container h1,
.send-email-section .container h2,
.send-email-section .container h3,
.send-email-section .container h4,
.send-email-section .container h5,
.send-email-section .container h6,
.send-email-section .container p {
  color: var(--white-color);
}
.send-email-section .container .send-email-textContainer {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.send-email-section .container .send-email-textContainer .send-email-input-group {
  justify-content: center;
  position: relative;
}
.send-email-section .container .send-email-textContainer .send-email-input-group .send-email-input {
  min-width: 250px;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  padding-right: 70px;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.send-email-section .container .send-email-textContainer .send-email-input-group .send-email-button {
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--black-color);
  color: var(--white-color);
  position: absolute;
  top: 10px;
  right: 8px;
}

@media screen and (min-width: 768px) {
  .send-email-section .container .send-email-textContainer .send-email-input-group .send-email-input {
    font-size: 1.25rem;
  }
}
footer {
  background-color: var(--black-color);
  color: var(--gray-color);
  padding: 4rem 3rem;
  /* font-size: 1.25rem; 螢幕放大時再更改*/
}
footer p,
footer ul {
  opacity: 0.8;
}
footer .container .row {
  justify-content: space-between;
}
footer .container .row .footer-logo h1 {
  color: var(--white-color);
}
footer .container .row .footer-logo .icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}
footer .container .row .footer-logo .icon-container a {
  color: var(--black-color);
  display: block;
  padding: 0.25rem 0.75rem;
  background-color: #ebd96b;
  border-radius: 0.5rem;
}
footer .container .row .footer-links .row ul {
  gap: 0.75rem;
}
footer .container .row .footer-links .row ul li a {
  color: var(--gray-color);
}
footer .container .row .footer-links .row ul li:first-child a {
  opacity: 1;
  color: var(--white-color);
}

@media screen and (min-width: 992px) {
  footer {
    font-size: 1.2rem;
  }
  footer .footer-links .row ul {
    font-size: 1.2rem;
    gap: 1.25rem !important;
  }
}/*# sourceMappingURL=main.css.map */